worms4nx
*.nro
*.nacp
*.elf
build/
shot
shot.png
sim_check
shot_aim.png
assets/
server.txt
ai_check
replay_check
ui_check
movie_check
setup.txt
ui.png
build_*/
romfs/romfs
.synced-*
mission_check
progress.txt
obj/
log.txt
